<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Discounts</title>
    <!--/*/ <th:block th:include="fragments/assets :: assets"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->
<div class="container-fluid">
    <h2>Discounts</h2>
    <div th:if="${#lists.isEmpty(discounts)}">List is empty</div>
    <div th:if="${not #lists.isEmpty(discounts)}">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Product</th>
                <th>Discount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="discount : ${discounts}">
                <td th:text="${#temporals.format(discount.date, dateFormat)}"></td>
                <td th:text="${discount.product.name}"></td>
                <td th:text="${discount.value + '%'}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>