<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <!--/*/ <th:block th:include="fragments/assets :: assets"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->
<div class="container-fluid">
    <div class="row">
        <h2 class="header-with-btn">Products</h2>
        <form th:action="@{product/new}" method="post">
            <button class="btn btn-header btn-sm btn-primary" type="submit">Add product</button>
        </form>
    </div>
    <div th:if="${#lists.isEmpty(products)}">List is empty</div>
    <div th:if="${not #lists.isEmpty(products)}">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Number of sales</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.saleQuantity}"></td>
                <td>
                    <form th:action="${'/product/edit/' + product.id}" method="post">
                        <button class="btn btn-sm btn-warning" type="submit">Edit</button>
                    </form>
                </td>
                <td>
                    <form th:action="${'/product/delete/' + product.id}" method="post">
                        <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>